@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* css variables  */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  color: var(--dark);
}

body {
  background: black;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* navigation  */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.main-nav a:hover {
  background: #ff5100;
  color: var(--light);
}

/* showcase  */
.showcase {
  grid-area: showcase;
  height: 90vh;
  min-height: 500px;
  background: url(./images/showcase.png);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.showcase h1 {
  margin-top: 0;
  margin-left: 200px;
  font-size: 9rem;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  min-height: 400px;
  padding: 1rem 2rem;
}

.boxes h3 {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0;
}

.box1 {
  background: url(./images/wellville-broderick.JPG);
  color: black;
}

.box2 {
  background: url(./images/play-bed.JPG);
  color: white;
}

.box3 {
  background: url(./images/health-insurance-magazine.JPG);
  color: black;
}

.box1,
.box2,
.box3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 3rem;
  font-weight: 900;
}

/* info */
.info {
  font-family: "Josefin Sans", sans-serif;
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.2fr 2fr;
  padding: 3rem;
  font-size: 1.5rem;
}

.info-pic {
  background: url(./images/bubba-hat.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  justify-content: column;
}

.info p {
  margin-left: 50px;
}

.btn {
  background: #ff5100;
}

h2 {
  font-size: 5rem;
  text-align: center;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

/* portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

.portfolio img {
  transition: transform 0.25s ease;
}

.portfolio img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* footer */

footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

/* media queries */
@media (max-width: 1260px) {
  .info-pic {
    display: none;
  }
  .info {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

  .info-pic {
    display: none;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "top-box-a"
      "top-box-b";
  }

  .info-pic {
    display: none;
  }
}
